html {
  font-size: 10px;
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

/*-- div holding class keys --> */
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

/* --DIV INSIDE KEYS WITH CLASS KEY */
.key {
  border: 0.4rem solid pink;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: antiquewhite;
  background: black;
  text-shadow: 0 0 0.5rem black;
}
.playing {
  transform: scale(1.1);
  border-color: #32ecd4;
  box-shadow: 0 0 1rem #45afa1;
}

kbd {
  display: block;
  font-size: 4em;
}

/* span with class sound */
.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: aqua;
}
